mat-form-field,
textarea {
  width: 100%;
}

mat-form-field:first-of-type {
  margin-bottom: 1rem;
}

button {
  margin: 1.5rem 0 1rem 0;
}

mat-spinner {
  margin: auto;
}

input[type='file'] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

span.image-required:after {
  content: ' *';
  font-size: 1rem;
}
